#title2 {
	text-align: center;
	color: rgb(100,100,100);	
	font-family: "felt-tip-senior",cursive;
	text-transform: capitalize;
	font-size: 3em;
	margin-top: 50px;
	margin-bottom: 2%;
}

#wrapper2 {
	max-width: 90%;
	margin: 0 auto;
}

#left {
	display: inline-block;
	max-width: 30%;
	max-height: 200px;
	overflow: auto;
	font-size: 1.1em;
	font-family: "minerva-modern",sans-serif;
	color: rgb(80,80,80);
	text-indent: 50px;
	line-height: 1.3em;
	padding: 15px;
}

#left h3 {
	text-indent: 0;
	text-align: center;
}

#right {
	display: inline-block;
	max-width: 30%;
	max-height: 200px;
	overflow: auto;
	font-size: 1.1em;
	font-family: "minerva-modern",sans-serif;
	color: rgb(80,80,80);
	text-indent: 50px;
	line-height: 1.3em;
	padding: 15px;
}

#right h3 {
	text-indent: 0;
	text-align: center;
}

#thumbnails {
	float: left
}